@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  --primary: #ea580c; /* laranja */
  --color-fundo-app: #fff7ed;
  --color-fundo-nav: rgba(255, 255, 255, 0.8);
  --color-texto-nav: #374151;
  --color-texto-nav-hover: #ea580c;
  --color-botao-perfil: #ea580c;
  --color-botao-perfil-hover: #c2410c;
  --color-fundo-menu-mobile: #ffffff;
  --color-titulos: #f97316; /* titulo da pagina apenas primeira letra maiuscula */
  --color-botao-pesquisa: #f55310; /* botao para pesquisar*/
  --color-card-login: #FDEDEE;
  --color-fundo-login: #FF6467;
  --color-fundo-login-dois: #FFD6A7;
  --color-botao-pedir-agora: #F58067; /* Botão editar fundo colorido icone branco, MdEdit */
  --color-borda-hover: #ea580c;
}

html, body, * {
  font-family: 'Roboto', sans-serif !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.login-gradient-bg {
  background: linear-gradient(334deg, var(--color-fundo-login), var(--color-fundo-login-dois));
  background-size: 180% 180%;
  animation: login-gradient-animation 6s ease infinite;
}

@keyframes login-gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}