PORT=3002
EMAIL_SEND=seuemail@gmail.com
EMAIL_PASSWORD=sua_senha_de_app_do_gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_CONNECTION_TIMEOUT=15000
POSTGRES_DB=sabor-comida
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
JWT_SECRET=change-me-in-development
JWT_EXPIRES_IN=7d